* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background-image: linear-gradient(140deg, rgba(251,247,115,1) 0%, rgba(47,128,237,1) 8%, rgba(83,149,237,1) 41%, rgba(47,128,237,1) 64%, rgba(125,214,244,1) 100%);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 20px;
    text-align: center;
}

hr {
    width: 80%;
    border-top: 1px solid rgb(253, 253, 253, .1);
}

button {
    background: whitesmoke;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    padding: 10px;
    width: 80px;
    outline: none;
}

#page-title {
    font-size: 64px;
    color: whitesmoke;
}

.weather-container {
    visibility: hidden;
}

.weather-by-zip,
.weather-by-city,
.weather-by-location,
.weather-container,
.day-of-week  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 14px;
    padding: 16px;
    color: white;
}

.high-of, .low-of {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.currently, .current-time, .current-temp,
.input-container, .city, .state,
.degrees-buttons, .temp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#city, #state, #zip {
    margin: 10px;
}

/* Containers for general divs */

.weather-by-zip {
    background-color: rgb(135, 206, 250, .3);
    border-radius: 15px;
    width: 33%;
    height: 200px;
}

.weather-by-city {
    background-color: rgb(135, 206, 250, .3);
    border-radius: 15px;
    width: 33%;
    height: 200px;
}

.city-state {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.weather-by-location {
    background-color: rgb(135, 206, 250, .3);
    border-radius: 15px;
    width: 33%;
    height: 200px;
}

.weather-container {
    background-color: rgb(135, 206, 250, .3);
    border-radius: 15px;
    margin: 0px;
}
.currently {
    width: 100%;
    justify-content: space-around;
    margin-left: 40px;
    margin-right: 40px;
}

.pane-one {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;   
    flex-direction: column;
}

.current-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#current-location, #current-time-header,
#current-condition {
    margin: 0;
}

.pane-two {
    margin: 20px;
}

.current-temp h2 {
    margin: 20px;
}

.three-day-forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 8px;
}

.three-day-forecast div {
    padding: 6px
}

.three-day-forecast div div {
    display: flex;
}

/* Icon colors */

.fa-bolt, .fa-sun  {
    color: #FF3;
}

.fa-cloud, .fa-cloud-rain, 
.fa-smog {
    color: lightgray;
}

.fa-cloud-showers-heavy {
    color: rgb(133, 133, 133);
}


/* CSS Literally just for buttons */

/* Push */
@-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-push:before, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }